@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* MÁRKASZÍNEK DEFINIÁLÁSA */
  --color-brand-cyan: #00ffff;
  --color-brand-blue: #0606ff;
  --color-brand-blue-deep: #020244;
}

@layer base {
  :root {
    /* VILÁGOS MÓD */
    --site-bg: #f8fafc;
    --section-hero-bg: #e0f2fe;
    --text-main: #0606ff;
    --text-accent: #0606ff;
    --brand-glow: rgba(0, 255, 255, 0.2);
  }

  .dark {
    /* SÖTÉT MÓD */
    --site-bg: #020617;
    --section-hero-bg: #04044d;
    --text-main: #f8fafc;
    --text-accent: #00ffff;
    --brand-glow: rgba(0, 255, 255, 0.4);
  }

  body {
    background-color: var(--site-bg);
    color: var(--text-main);
    transition: background-color 0.5s, color 0.5s;
  }

  html {
    scroll-behavior: smooth;
  }

  img {
    /* Az @apply select-none-t a linter nem szereti, de a Tailwind v4-nek így a legtisztább. 
       A build-et nem zavarja. */
    @apply select-none;
    pointer-events: none;
    -webkit-user-drag: none;
  }
}